.coin__page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.coin_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.back {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.back__arrow {
  font-size: large;
}
.coin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2fffe5;
  border-radius: 10px;
  padding: 4rem;
  width: 400px;
}

.coin__image {
  margin-bottom: 1rem;
}

.coin__name {
  margin-bottom: 1rem;
}

.coin__ticker {
  margin-bottom: 1rem;
}

.coin__current {
  margin-bottom: 1rem;
  font-size: 2rem;
}
